<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testsuite" verbose="1" >
    <listeners>
        <listener class-name="com.luma.demo.customlisteners.CustomListeners"/>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="Bank Test" >
        <classes>
            <class name="com.luma.demo.testsuite.WomenTest"></class>
            <class name="com.luma.demo.testsuite.MenTest"></class>
            <class name="com.luma.demo.testsuite.GearTest"></class>
        </classes>
    </test>
</suite>